extends ../../layouts/main

block content
  h1 Login
  p Login account

  input(type='text' placeholder='email')
  input(type='text' placeholder='password')

  button Login

  script(src='/vendor.js')
