extends ../../layouts/main

block content

  h1 Account Setup
  p Almost done!

  input#key(type='hidden' value= key)
  input#csrf(type='hidden' value= csrf)

  input#nickname(type='text' placeholder='nickname')

  button#setup Setup
