extends ../../layouts/main

block content
  button.back Back
  button.link(data-href='/') Main

  h1 Signup
  p Signup account

  input#key(type='hidden' value= key)
  input#csrf(type='hidden' value= csrf)

  input#email(type='text' placeholder='email')
  input#password(type='password' placeholder='password')
  input#confirm(type='password' placeholder='password confirm')

  button#signup Signup
