extends ../../layouts/main

block content
  h1 Signup
  p Signup account

  input(type='text' placeholder='email')
  input(type='text' placeholder='password')
  input(type='text' placeholder='password confirm')

  button Signup

  script(src='/vendor.js')
