extends ../../layouts/main

block content
  h1 Signup
  p Signup account

  input#key(type='hidden' value=key)
  input#csrf(type='hidden' value=csrf)

  input#email(type='text' placeholder='email')
  input#password(type='password' placeholder='password')
  input#confirm(type='password' placeholder='password confirm')

  button.action(data-type='signup') Signup

  script(src='/vendor.js')
